<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/public/css/config/variables.css">
    <link rel="stylesheet" href="/public/css/includes/font.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <div class="logo-wrapper">
        <img src="/public/img/logo.png" alt="">
    </div>
    <div class="banner">
        <img src="/public/img/banner.jpg" alt="">
    </div>
    <h1>
        <span>WEBSITE</span> UNDER CONSTRUCTION!
    </h1>
    <h1 dir="rtl">
        <span>وبسایت</span> در دست ساخت است!
    </h1>
</body>
</html>