body{
    background-color: var(--page-bg);
}

.logo-wrapper{
    width: 5%;
    margin: 1rem auto;
}

.logo-wrapper > img{
    width: 100%;
}

.banner{
    width: 50%;
    margin: 2rem auto;
}

.banner > img{
    width: 100%;
}

h1:nth-child(3){
    font-family: "Varino";
}

h1{
    margin-bottom: 0;
    text-align: center;
    font-family: "IranSansBold";
}

h1 > span {
    padding: .3rem .5rem;
    text-shadow: 4px 4px 2px rgb(255, 200, 0);
}