*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

button, a{
    cursor: pointer;
}

textarea{
    resize: none;
}